{% extends "blog/base.html" %}

{% block main %}
<section class="latest-article-preview">

{% for post in latest_posts %}
<article>
  <h2>{{ post.title }}</h2>
  <em>{{ post.published|timesince }} ago</em>
  {{ post.content|linebreaks }}
</article>
{% endfor %}

</section>
{% endblock %}

{% block aside %}
<section id="topics-list">
  <h3>Popular Topics</h3>
  <ul>
    {% for topic in topics %}
      <li>{{ topic }} ({{ topic.blog_posts__count}})</li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
